header{
  text-align: center;
  color: blue;
}

.default{
  border: solid 2px;
  display: grid;
  justify-self: center;
  width: 140px;
  height: 200px;
  text-align: center;
  margin-bottom: 20px;
  background-color: yellow;
}

.have-img{
  border: solid 2px;
  display: grid;
  justify-self: center;
  width: 140px;
  height: 200px;
  text-align: center;
  margin-bottom: 20px;
  background-size: cover;
}

.have-img p{
  height: 20px;
  color: white;
  background-color: black;
}

img{
  width: 10%;
  border: solid 2px;
  border-radius: 3%;
}

#d2{
  display: flex;
  justify-content: space-evenly;
}